<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<title>Eniso</title>
</head>

<body>

	<div class="container">
 		<nav class = "navbar navbar-expand-sm navbar-dark bg-secondary">
            <a class = "navbar-brand" href = "homepage-static.html">Eniso</a>
            <button class = "navbar-toggler" type = "button" data-toggle = "collapse" 
               data-target = "#navbarSupportedContent" 
               aria-controls = "navbarSupportedContent" aria-expanded = "false" 
               aria-label = "Toggle navigation">
               
               <span class = "navbar-toggler-icon"></span>
            </button>
            
            <div class = "collapse navbar-collapse" id = "navbarSupportedContent">
               <ul class = "navbar-nav mr-auto">
                  <li class = "nav-item">
                     <a class = "nav-link" href = "homepage-static.html">Home</a>
                  </li>
                  <li class = "nav-item active">
                     <a class = "nav-link" href = "watchlist-static.html">info</a>
                  </li>
                  <li class = "nav-item ">
                     <a class = "nav-link" href = "watchlistItemForm-static.html">></a>
                  </li>
               </ul>
               
            </div>
      	</nav> 
		<h2  class = "mt-4">list</h2>
		<table class="table">
			<thead class = "thead-light">
		        <tr>
		            <th class="text-left">Nom PRENON</th>
		            <th class="text-left"></th>
		             <th class="text-left"></th>
		            <th class="text-left"></th>
		      
		        </tr>
		    </thead>
			<tbody>
				    <tr  th:each ="etudient:${etudientList}" >
		            <td th:text="${etudient.name +etudient.prename}"></td>
		            <td><a th:href="@{/getremarque(cin=${etudient.cin})}"  class="btn btn-info" role="button">Remarque</a></td>
					<td><a th:href="@{/addabsence(cin= ${etudient.cin})}" class="btn btn-info" role="button">absence</a></td>
					<td><a th:href="@{/add_etudient(cin=${etudient.cin})}" class="btn btn-info" role="button">Update</a></td>
				</tr>
			</tbody>
		</table>
	
		
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</body>
</html>